---
title: Template
---

%section.slide
  %div
    %h2 Header
    %p
      Typewriter etsy messenger bag <a href="">fingerstache</a>, aesthetic vinyl semiotics twee <strong>DIY</strong> forage chillwave. Thundercats ennui messenger bag, <em>squid</em> carles chillwave shoreditch pickled cliche <b>letterpress</b>. DIY beard locavore <i>occupy</i> salvia, whatever single-origin <code>coffee</code> fanny pack 3 wolf moon typewriter gastropub kale chips.
    %p.note
      Secondary footnote.
%section.slide
  %div
    %h2 Lists in English typography
    %ul
      %li Ennui keffiyeh thundercats
      %li Jean shorts biodiesel
      %li
        Terry richardson, swag blog
        %ol
          %li Locavore umami vegan helvetica
          %li Fingerstache kale chips
          %li Keytar sriracha gluten-free
      %li Before they sold out master
